body {
  margin: 0;
  padding: 70px;
}

#title {
  position: relative;
  margin: auto;
  text-align: center;
  font-size: 50px;
}

#poem {
  position: relative;
  font-size: 20px;
  font-style: normal;
  font-family: cursive;
  text-align: center;
  padding: 40px 0;
  margin: auto;
  width: 50%;
}
